<a href="https://colab.research.google.com/github/taufeeque9/FMDS/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [166]:
x=3
print(x,type(x))
print(x+1)
print(x-1)
print(x*4)
print(x**2)
print(x/2)
print(x%2)

3 <class 'int'>
4
2
12
9
1.5
1

In [167]:
x=8
x=x+1
print(x)
x=x*2
print(x)
x=x**3
print(x)

9
18
5832

In [168]:
x=2.3
print(type(x))
print(x,x+1,x*4)

<class 'float'>
2.3 3.3 9.2

In [169]:
t,f=True,False
print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

In [170]:
print(t and f)
print(t or f)
print(not f)
print(t !=f)

False
True
True
True

In [171]:
hello="hello"
world="world"
abcdefghijklmnopqrstuvwxyz="abcdefghijklmnopqrstuvwxyz"
print(hello,len(hello),len(abcdefghijklmnopqrstuvwxyz))

hello 5 26

In [172]:
hello='hello'
world='world'
hw=hello +  world
kw=hello + ' ' + world
print(hw)
print(kw)
hw12='{} {} {}'.format(hello,world,12)
print(hw12)

helloworld
hello world
hello world 12

In [173]:
s='hello'
k='NIDHI'
print(s.capitalize())
print(s.upper())
print(k.lower())
print(k.rjust(7))
print(k.center(7))
print(s.casefold())
print(s.replace('l','el'))

Hello
HELLO
nidhi
  NIDHI
 NIDHI
hello
heelelo

containers

In [174]:
s=[3, 1, 4, 7, 8, 9]
s[2]='Nidhi'
print(s,s[4])
print(s[-4])

[3, 1, 'Nidhi', 7, 8, 9] 8
Nidhi

In [175]:
s=[3, 1, 4, 7, 8, 9]
s.append('Yatharth')
print(s)

[3, 1, 4, 7, 8, 9, 'Yatharth']

In [176]:
s=[3, 1, 4, 7, 8, 9, 'Ice', 'cream']
s.pop()
print(s)

[3, 1, 4, 7, 8, 9, 'Ice']

In [177]:
number=list(range(6))
print(number)
print(number[2:4])
print(number[2:])
print(number[:4])
print(number[:])
print(number[:-1])
number[2:3]=[7,8]
print(number)

[0, 1, 2, 3, 4, 5]
[2, 3]
[2, 3, 4, 5]
[0, 1, 2, 3]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]
[0, 1, 7, 8, 3, 4, 5]

In [178]:
Aashi=['Aaashi','ek','moti','aalsi','aur','shaitan','ladki','hai']
for i in Aashi:
  print(i)

Aaashi
ek
moti
aalsi
aur
shaitan
ladki
hai

In [179]:
A=("1","2","3")
print(A)
a=(1,2,3)
print(max(a))
print(a)
#tuple does not support immutability that is changing of items once created

('1', '2', '3')
3
(1, 2, 3)

In [180]:
C=("chotu janvar h",) * 1
print(C)

('chotu janvar h',)

In [181]:
d={"Nidhi":19,"Chotu":15,"chhavi":20}
for key, value in d.items():
  print(key)

Nidhi
Chotu
chhavi

In [189]:
ex1=5
ex2=-5
print(abs(ex2))
if abs(ex2)==-ex1 :
  print("both are same")
elif ex2==(ex1) :
  print("kuchnhi")
else :
  print("both diff ")

5
both diff

In [197]:
print(round(1.68678,3))

1.687

In [201]:
x=[0,2,4,6]
sorted(x,reverse=False)

[0, 2, 4, 6]

In [8]:
#defining of functions
#once fun is made we have to use it somewhere
def bitcoin_to_usd(n) :
  amount_in_usd=(n)*527
  print(amount_in_usd)
bitcoin_to_usd(56)  
bitcoin_to_usd(78)  
bitcoin_to_usd(90)  
bitcoin_to_usd(45)  
bitcoin_to_usd(234)

29512
41106
47430
23715
123318

In [12]:
def prnt(k) :
  print("yes,you are mad")
prnt(8)

yes,you are mad

In [2]:
import calendar 
cal=calendar.month(2022,6)
print(cal)

     June 2022
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [11]:
import math
a=pow(2,5)
print(a)

32

In [14]:
#dir() command can be used to know the no of commmands present in a module/in a package.
#2016 is leap year or not
import math
calendar.isleap(2022)
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthlen',
 'monthrange',
 'nextmonth',
 'prcal',
 'prevmonth',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [15]:
def area_of_rectangle(length,breadth) :
  area=length*breadth
  print(area)
def area_of_trapezium(p1,p2,h) :
  area=0.5(p1+p2)*h
  print(area)

5226

# New section